<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: rgb(226, 202, 20)">CARGANDO</p>
</ngx-spinner>

<div >    
    <div class="consulta-empresas">Creación de Empresas</div>
    <hr />    
    <div class="row">
        <section class="col col-12">
            <span class="consulta-empresas">Datos de la Empresa</span>
        </section>
    </div>
    <div class="form-group">             
        
        <div class="buttonContainer pt-4">            
            <button class="saveButton cursor" (click)="clickConsultar()">Consutar Empresas</button>           
        </div> 
        <section id="nuevaEmpresa" style="margin-bottom: 5%;">
            <div class="container-fluid todo">
                <form [formGroup]="empresaForm" (ngSubmit)="save()">
                    <div class="productForm d-md-flex">
                        <div class="form-group">
                            <div class="inputContainer">
                                <input type="text" formControlName="nombreEmpresa" class="input"
                                    [class.is-invalid]="nombreEmpresaNoValid"   placeholder="NOMBRE EMPRESA">
                            </div>
                            <small *ngIf="nombreEmpresaNoValid" class="invalidInput">Nombre empresa requerido</small>
                        </div>
        
                        <div class="form-group">
                            <div class="inputContainer">
                                <input type="text" formControlName="tipoIdentificacion" class="input" [class.is-invalid]="tipoIdentifiNoValid"
                                    placeholder="TIPO IDENTIFIACIÓN">
                            </div>
                            <small *ngIf="tipoIdentifiNoValid" class="invalidInput">Tipo identificación requerido</small>
                        </div>
        
                        <div class="form-group">
                            <div class="inputContainer">
                                <input type="text" formControlName="numIdentificacion" class="input" [class.is-invalid]="numeroIdentifiNoValid"
                                    placeholder="NUMERO IDENTIFICACIÓN">    
                            
                            </div>
                            <small *ngIf="numeroIdentifiNoValid" class="invalidInput">Numero identificación requerido</small>
                        </div>                        
        
                        <div class="form-group">
                            <div class="inputContainer">
                                <input type="text" formControlName="direccion" class="input"
                                    placeholder="DIRECCIÓN">
                            </div>
                        </div>
        
                        <div class="form-group">
                            <div class="inputContainer">
                                <input type="text" formControlName="ciudad" class="input" placeholder="CIUDAD">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="inputContainer">
                                <input type="text" formControlName="departamento" class="input" placeholder="DEPARTAMENTO">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="inputContainer">
                                <input type="text" formControlName="pais" class="input" placeholder="PAÍS">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="inputContainer">
                                <input type="number" formControlName="telefono" class="input" placeholder="TELÉFONO" [class.is-invalid]="telNoValid">
                            </div>
                            <small *ngIf="telNoValid" class="invalidInput">Teléfono requerido</small>
                        </div>   
                        <div class="buttonContainer pt-4">
                            <button type="submit" class="saveButton cursor">Agregar Empresa </button>
                        </div>                              
                    </div>                   
                </form>
            </div>
        </section>       
    </div>
</div>
