$white-two: #e4e4e4;
$white: #ffffff;
$black: #2d2d2d;
$yellow: #ebd221;
// categories list

.consulta-empresas {
    width: 596px;  
    height: 32px;  
    font-family: Roboto,sans-serif;  
    font-size: 24px;  
    font-weight: normal;  
    font-style: normal;  
    font-stretch: condensed;  
    line-height: 1.2;  
    letter-spacing: 0.2px;  
    text-align: left;  
    color: #0a0a0a;  
  }
  
.Rectngulo-915{
    width: 727px;
    height: 107px;
    // opacity: 0.54;
    background-color: $white-two;
}

.Rectngulo-685 {
    width: 130px;
    height: 50px;
    background-color: #ffffff;
}

.box-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25px;
}

.box-items-categories {
    width: 150px;
    height: 50px;
    background-color: rgb(26, 25, 25);
    margin-top: 60px;
    margin-right: 10px;
}

.box-items-contain {
    background-color: $white;
    border: 0px;
}

.row {
    padding-bottom: 5px;
    padding-left: 10%;
}

.cursor {
    cursor: pointer;
}

.todo {
    width: 80%;
}

.cardList {
    background-color: transparent;
    border-color: transparent;
    border-bottom-width: 2px;
}

.textTitle {
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 3.6px;
    text-align: left;
    font-weight: bold;
    color: $black;
}

.titleButton {
    background: none;
    border: none;
    outline: none;
    padding-left: 10%;
}

.productForm {
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 300px;
    height: 70px;
    background-color: $white;
    margin-bottom: 12px;
    margin-left: 10%;
}

.inputContainerDate {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-width: 300px;
    height: 40px;
    background-color: $white;
    margin-bottom: 12px;
    padding: 0px 0px 0px 15px;
}

.inputContainer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 300px;
    height: 40px;
    background-color: $white;
    margin-bottom: 30px;
}

.inputContainerBanner {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-width: 300px;
    height: 40px;
    background-color: $white;
    margin-bottom: 12px;
    padding: 0px 0px 0px 15px;
}

.input {
    width: 94%;
    height: 67%;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    background-color: $white;
    outline: none;
    border-color:  #524a4a;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}

.inputDescription {
    width: 94%;
    height: 67%;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    background-color: $white;
    outline: none;
    border-color:  #524a4a;
    font-size: 12px;
}
.inputContainerDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 300px;
    height: auto;
    background-color: $white;
    margin-bottom: 12px;
}

.inputImage{
    width: 86.5%;
    height: 45%;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    background-color: $white;
    outline: none;
    border-color: #524a4a;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    margin-right: 16px;
}

.inputDate{
    width: 90%;
    height: 67%;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    background-color: $white;
    outline: none;
    border-color: #524a4a;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}

.inputTicket {
    width: 20%;
    height: 67%;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    background-color: $white;
    outline: none;
    border-color:#524a4a;
    font-size: 67%;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    margin-right: 10px;
    margin-bottom: 15px;

}

.flatButton {
    width: 97%;
    height: 67%;
    border-style: none;
    border-width: 0px 0px 0px 0px;
    background-color: $white;
    outline: none;
}

.inputWholePhoneContainer {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    width: 100%;
    min-width: 300px;
    height: 40px;
    background-color: $white;
}

.inputPhoneContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    // min-width: 300px;
    height: 100%;
    background-color: $white;
    // margin-bottom: 3%;
}

.phoneDialCode {
    color: $white;
}

.inputphoneDialCode {
    width: 78%;
    height: 67%;
    border-style: solid;
    border-width: 0px 0px 1.9px 0px;
    background-color: $black;
    outline: none;
}

.containerInputphoneDialCode {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 100%;
    background-color: $black;
}

.passwordsContainer {
    width: 100%;
}

.invalidInput {
    border-width: 1px;
    border-color: #dc3545;
}

.invalidText {
    background-color: $white-two;
    width: 100%;
    color: #dc3545;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 30px;
    margin-bottom: 5%;
}

.saveButton {
    width: 50%;
    height: 30px;
    background-color: $yellow;
    color: black;
    border-radius: 0px;
    border: none;
    font-weight: bold;
    margin-right: 0px;
}

.form-group {
    min-width: 100%;

}

.form-groupp {
    min-width: 110%;
    flex-direction: row;

}

.Rectngulo-697 {
    width: 108px;
    height: 30px;
    background-color: $yellow;
}

.inputFile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 300px;
    height: 40px;
    background-color: $white;
}

// .add-button{
//     background-image:url(../../../assets/imagenes/plus.svg);
//     background-repeat:no-repeat;
//     background-position: center;
//     background-color: #2d2d2d;
//     // margin-right: 10px;
//     width: 41px;
//     height: 41px;
//     margin-left: 10px;
//     padding: 0px 0px 16px 0px;
//     border-color: transparent;
// }

// .file-button{
//     background-image:url(../../../assets/imagenes/csv.svg);
//     background-repeat:no-repeat;
//     background-position: center;
//     background-color: #2d2d2d;
//     // margin-right: 10px;
//     width: 41px;
//     height: 41px;
//     margin-left: 10px;
//     padding: 0px 0px 16px 0px;
//     border-color: transparent;
// }

// .minus-button{
//     background-image:url(../../../assets/imagenes/yellowminus.svg);
//     background-repeat:no-repeat;
//     background-position: center;
//     background-color: transparent;
//     // margin-right: 10px;
//     width: 41px;
//     height: 41px;
//     padding: 0px 0px 16px 0px;
//     border-color: transparent;

// }

.minus-button:hover{
    background-color:#949697;
    width: 41px;
    height: 41px;
    margin-left: 9px;
    padding: 0px 0px 16px 0px;
    border: 0px solid #fbfbfc;
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-size: 20px;
}

// .add-button-ticket{
//     background-image:url(../../../assets/imagenes/yellowplus.svg);
//     background-repeat:no-repeat;
//     background-position: center;
//     background-color: #ffffff;
//     // margin-right: 10px;
//     width: 41px;
//     height: 41px;
//     margin-left: 10px;
//     padding: 0px 0px 16px 0px;
//     border-color: transparent;

// }

// .minus-button-ticket{
//     background-image:url(../../../assets/imagenes/yellowminus.svg);
//     background-repeat:no-repeat;
//     background-position: center;
//     background-color: transparent;
//     // margin-right: 10px;
//     width: 41px;
//     height: 41px;
//     padding: 0px 0px 16px 0px;
//     border-color: transparent;

// }

.minus-button-ticket:hover{
    background-color:#949697;
    width: 41px;
    height: 41px;
    margin-left: 9px;
    padding: 0px 0px 16px 0px;
    border: 0px solid #fbfbfc;
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-size: 20px;
}

.location{
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    margin-right: 50px;
}

.clip {
    width: 41px;
    height: 41px;
    background-color: $black;
    margin-right:  0px;
    margin-left: 13px;
}

.note {
    width: 548px;
    height: 40px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 2.4px;
    text-align: center;
    color: var(--black);
}

.card {
    width: 100%;
}

.cardBodyList {
    display: none;
}

.agm-map {
    height: 300px;
  }

  .dateContainer {
    // min-width: 334px;
    width: 60%;
}

.inputBuscador {
    border: none;
    width: 100%;
    height: 100%;
    text-align: left;
    border-style: solid;
    border-width: 0px 0px 1.9px 0px;
    background-color: $white;
    outline: none;
}

.Rectngulo-862 {
    width: 694px;
    height: 221px;
    margin: 28px 0 33px;
    padding: 15px 31.5px 0.5px 22px;
    background-color: var(--white);
    overflow: auto;

  }

  .Rectngulo-840 {
    padding: 30px 20px 0px 20px;
    background-color: var(--white);
    overflow: auto;
    overflow-x: scroll;
    scrollbar-track-color:#d10e0e;
  }

  .mat-header-cell {
    font-size: 14px;
    font-weight:bold;
    color: var(--black);
    justify-content: left;
    display:flex;

}

.mat-cell {
    font-family: 'Segoe UI';
    font-size: 14px;
    justify-content: left;
    width: auto;
}

  .Product-Name {
    width: 82px;
    height: 14px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight:bold;
    line-height: 2.67;
    text-align: center;
    color: var(--black);
  }

  .Available-tickets {
    width: 96px;
    height: 14px;
    margin: 6.5px 22px 20.5px 43px;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.67;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
  }

  .Sold-tickets {
    width: 68px;
    height: 14px;
    margin: 6.5px 53px 20.5px 22px;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.67;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
  }

  .Price {
    width: 30px;
    height: 14px;
    margin: 7.5px 57px 19.5px 53px;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.67;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
  }
  .Edit {
    width: 22px;
    height: 14px;
    margin: 7.5px 44px 19.5px 54px;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.67;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
  }

  .max-seats {
    width: 82px;
    height: 14px;
    font-family:sans-serif;
    font-size: 14px;
    font-weight:normal;
    line-height: 2.67;
    text-align:right;
    color: var(--black);
  }

  td {
    height: auto;
    margin: 0px 0 0px;
    font-family: 'Segoe UI', sans-serif;
    background-color: #FFFFFF;
    border-radius: 1rem;
    font-size: 14px;
    border-bottom: 1px solid #999999;
}

.cardImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100px;
  height: 100px;
  margin-left: 10px;
}

::-webkit-scrollbar {
    width: 12px;
  }
::-webkit-scrollbar-track {
    background-color: #c4c4c4;
    border: 5px solid white;
    border-radius: 2px;
    background-clip: content-box;
    width: 3px;
  }
::-webkit-scrollbar-thumb {
    background: rgb(255, 223, 81);
    width: 12px;
    height: 20px;

  }

  ::-webkit-scrollbar-thumb:hover {
    background: #fcd915;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;

}

.labelPeq{
    font-size: 11px;
    margin-top: 0px;
    color: #afa7a7;
    text-align: center;
    align-content: end;
    margin-left: 0px;
    height: 13px;
    width: 30px;
    background-color: transparent;
    border-color: transparent;
}

.labelPeq1{
    font-size: 11px;
    margin-top: 0px;
    color: #afa7a7;
    text-align: center;
    align-content: end;
    height: 13px;
    width: 32%;
    background-color: transparent;
    border-color: transparent;
    float:right;
}

.Rectngulo-1060 {
    width: 41px;
    height: 41px;
    margin: 26px 81px 41px 22.8px;
    padding: 12px 10px 9px 11px;
    background-color: var(--black);
  }

.nameTitle {
    text-align: left;
    width: 30%;
}

.totalAvailableTitle {
    text-align: center;
    width: 25%;
}
.totalAvailableValor {
    text-align: center;
}
.durationTitulo {
    text-align: center;
    width: 25%;
}
.durationValor {
    text-align: center;
}

.editTitulo {
    text-align: center;
    width: 20%;
}
.editValor {
    text-align: center;
}

.centrar-pagination {
    height: 80px;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 650px) {
    .buttonContainer {
        padding-bottom: 1rem;
        padding-top: 4rem;
    }
    .todo {
        width: 100%;
    }
    .inputContainerDescription {
        min-width: auto;
    }
    .inputContainerBanner{
        min-width: auto;
    }
    .inputContainerDate {
        min-width: auto;
    }
    .inputContainer {
        min-width: auto;
    }
    .nameTitle {
        text-align: left;
    }
    .mat-header-cell:first-of-type {
        padding-left: 10px;
    }

    .totalAvailableTitle {
        text-align: left;
    }
    .totalAvailableValor {
        text-align: left;
    }
    .durationTitulo {
        text-align: left;
    }
    .durationValor {
        text-align: left;
    }

    .editTitulo {
        text-align: left;
    }
    .editValor {
        text-align: left;
    }
}

@media only screen and (max-width: 400px) {
    .Rectngulo-840 {
        padding: 15px 10px 0px 10px;
    }
    .todo {
        width: 100%;
    }
    .inputContainerDescription {
        min-width: auto;
    }
    .inputContainerBanner{
        min-width: auto;
    }
    .inputContainerDate {
        min-width: auto;
    }
    .inputContainer {
        min-width: auto;
    }
    .nameTitle {
        text-align: left;
    }
    .mat-header-cell:first-of-type {
        padding-left: 10px;
    }

    .totalAvailableTitle {
        text-align: left;
    }
    .totalAvailableValor {
        text-align: center;
    }
    .durationTitulo {
        text-align: center;
    }
    .durationValor {
        text-align: center;
    }

    .editTitulo {
        text-align: center;
    }
    .editValor {
        text-align: center;
    }
    .inputDate {
        width: 170px;
    }
    .mat-cell {
        font-size: 12px;
    }
}
